$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.header .navbar {
    background-color: whitesmoke;
}

.header .brand img {
    margin-top: 7px;
}

.header + div {
    padding-top: 45px;
}

.panel-heading h3 {
    font-size: 2em;
}

.panel-body {
    font-size: 1.5em;
}

.faq-section-list {
    font-size: 2em;
}

.footer {
    margin-top: 5em;
    color: #909090;
}

.breadcrumb {
    border-radius: 0 0 24px 24px;
    margin-top: 50px;
}