<div id="faq-main" class="container">
    <div class="row">

        <div class="page-header">
            <h1>Angular-Frasque <small> open-source solution for json based FAQs</small></h1>
        </div>

        <div ng-show="faqQuery">
            <div class="panel panel-success" ng-repeat="q in questions | filter:faqQuery" ng-animate="'animate'">
                <div class="panel-heading">
                    <h3 class="panel-title">{{q[0]}}</h3>
                </div>
                <div class="panel-body">
                    {{q[1]}}
                </div>
            </div>
        </div>

        <ul class="faq-section-list">
            <li ng-repeat="(id, content) in faq" class="animate-repeat">
                <a href='#/faq/{{urlPrefix}}{{id}}/'>{{content.name}}</a>
            </li>
        </ul>

        <div ng-show="isContent && !questionId">

            <div class="panel panel-default" ng-repeat="(key, value) in faq" ng-animate="'animate'">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="#/faq/{{urlPrefix}}{{id}}{{key}}">{{value[0]}}</a></h3>
                </div>
                <div class="panel-body">
                    {{value[1]}}
                </div>
            </div>

        </div>

        <div ng-show="isContent && questionId">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{faq[questionId][0]}}</h3>
                </div>
                <div class="panel-body">
                    {{faq[questionId][1]}}
                </div>
            </div>
        </div>
    </div>
</div>
