<div id="faq-main" class="container">
    <div class="row">

        <div class="page-header">
            <h1>Angular-Frasque <small> open-source solution for json based FAQs</small></h1>
        </div>

        <!-- Results for search -->
        <div ng-show="faqQuery">
            <div class="panel panel-success" ng-repeat="q in questions | filter:faqQuery">
                <div class="panel-heading">
                    <h3 class="panel-title" ng-bind-html="q[0] | highlight:faqQuery"></h3>
                </div>
                <div class="panel-body" ng-bind-html="q[1] | highlight:faqQuery"></div>
            </div>
        </div>

        <!-- Browsing through sections in FAQ -->
        <ul class="faq-section-list" ng-hide="isContent">
            <li ng-repeat="(id, content) in faq.content" class="animate-repeat">
                <a href='#/faq/{{routeParams}}/{{id}}'>{{content.name}}</a>
            </li>
        </ul>

        <!-- Listing of questions -->
        <div ng-show="faq.questions">
            <div class="panel panel-default" ng-repeat="(key, value) in faq.questions" ng-animate="'animate'">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="#/faq/{{routeParams}}/question/{{key}}">{{value[0]}}</a></h3>
                </div>
                <div class="panel-body" ng-bind-html="value[1]">
                </div>
            </div>
        </div>
    </div>
</div>
